<div class="wrapper">
    <div class="page-header clear-filter" filter-color="#f96332">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/header.jpg');">
        </div>
        <div class="container" id="home">
            <div class="content-center brand">
                <h1 style="font-size: 20px;">FAISAL YAQOOB SOFTWARE ENGINEER</h1>
                <h3>Transforming Complexity into Simplicity for Clients Through Software Development.</h3>
                <h5>Software Developer with over 3 years of experience delivering innovative and scalable solutions.
                    Skilled at transforming complex requirements into simple, efficient, and user friendly systems.
                    Proven track record of contributing to diverse projects and driving success through creativity,
                    dedication, and collaboration.
                </h5>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-tabs" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="About Faisal">
                                            <ng-template ngbTabContent>
                                                <p class="p-stlye">
                                                    Passionate and dedicated Senior Frontend Developer with over 3 years
                                                    of experience in designing, developing, and implementing software
                                                    solutions. Adept at transforming complex requirements into simple,
                                                    efficient, and user-friendly systems. Proven track record of
                                                    contributing to diverse projects and driving success through
                                                    creativity, dedication, and collaboration.
                                                </p>
                                                <div style="margin-bottom: 10px;">
                                                    <span class="skill-badge">Angular</span>
                                                    <span class="skill-badge">React.js</span>
                                                    <span class="skill-badge">JavaScript</span>
                                                    <span class="skill-badge">TypeScript</span>
                                                    <span class="skill-badge">Redux</span>
                                                    <span class="skill-badge">Bootstrap</span>
                                                    <span class="skill-badge">Material-UI</span>
                                                    <span class="skill-badge">PrimeNG</span>
                                                    <span class="skill-badge">HTML5</span>
                                                    <span class="skill-badge">CSS</span>

                                                </div>
                                                <p>
                                                    Strong understanding of version control systems such as Git and
                                                    GitHub
                                                </p>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="section section-pagination" id="tech-stacks">
            <h3 class="tech-title">Tech Stacks</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Frontend Development">
                                            <ng-template ngbTabContent>

                                                <div style="margin-bottom: 10px; margin-top: 20px;">
                                                    <span class="skill-badge">JavaScript
                                                        (ES6+)</span>
                                                    <span class="skill-badge">Angular</span>
                                                    <span class="skill-badge">Redux</span>
                                                    <span class="skill-badge">TypeScript</span>
                                                    <span class="skill-badge">React.js</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>

                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Version Control">
                                            <ng-template ngbTabContent>
                                                <div style="margin-bottom: 10px; margin-top: 20px;">
                                                    <span class="skill-badge">Git</span>
                                                    <span class="skill-badge">GitHub</span>
                                                    <span class="skill-badge">Bitbucket</span>
                                                    <span class="skill-badge">JIRA</span>

                                                </div>
                                            </ng-template>
                                        </ngb-tab>

                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Other Tools">
                                            <ng-template ngbTabContent>

                                                <div style="margin-bottom: 10px; margin-top: 20px;">
                                                    <span class="skill-badge">CI/CD</span>
                                                    <span class="skill-badge">Actions</span>
                                                    <span class="skill-badge">Figma</span>
                                                    <span class="skill-badge">Postman</span>
                                                    <span class="skill-badge">VS
                                                        Code</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>

                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-tabs" id="projects">
            <h3 class="tech-title">Projects And Skills</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Patient Medical Records & Progress Tracking">
                                            <ng-template ngbTabContent>
                                                <p class="p-stlye">Designed intuitive dashboards for doctors to monitor
                                                    patient
                                                    progress. Implemented secure patient record management with data
                                                    encryption.Added reporting module to generate treatment summaries
                                                    and progress charts. Integrated access control for physicians,
                                                    patients, and administrators.</p>
                                                <div style="margin-bottom: 10px;">
                                                    <span class="skill-badge">Angular</span>
                                                    <span class="skill-badge">JavaScript</span>
                                                    <span class="skill-badge">TypeScript</span>
                                                    <span class="skill-badge">PrimeNG</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>

                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Medical Appointment & Scheduling System">
                                            <ng-template ngbTabContent>
                                                <p class="p-stlye"> Built interactive calendar & slot-based scheduling
                                                    interface.
                                                    Integrated automated reminders via email/SMS. Designed doctor
                                                    availability and patient appointment workflows. Ensured
                                                    high-performance backend to support concurrent bookings.</p>
                                                <div style="margin-bottom: 10px;">
                                                    <span class="skill-badge">Angular</span>
                                                    <span class="skill-badge">JavaScript</span>
                                                    <span class="skill-badge">TypeScript</span>
                                                    <span class="skill-badge">PrimeNG</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Task & Performance Management System">
                                            <ng-template ngbTabContent>
                                                <p class="p-stlye"> Implemented task assignment, deadlines, and progress
                                                    indicators.
                                                    Developed analytics to track employee performance and task
                                                    completion rate. Built role-based dashboards for team leads,
                                                    managers, and employees. Designed Kanban board-style task tracking
                                                    interface.</p>
                                                <div style="margin-bottom: 10px;">
                                                    <span class="skill-badge">Angular</span>
                                                    <span class="skill-badge">JavaScript</span>
                                                    <span class="skill-badge">TypeScript</span>
                                                    <span class="skill-badge">PrimeNG</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Financial Management & Reimbursement System">
                                            <ng-template ngbTabContent>
                                                <p class="p-stlye">Built modules for tracking travel, research, and
                                                    operational costs.
                                                    Implemented reimbursement claim submission & approval workflow.
                                                    Added reporting features for expense breakdown and financial
                                                    summaries. Integrated secure audit logs for compliance and
                                                    accountability.</p>
                                                <div style="margin-bottom: 10px;">
                                                    <span class="skill-badge">Angular</span>
                                                    <span class="skill-badge">JavaScript</span>
                                                    <span class="skill-badge">TypeScript</span>
                                                    <span class="skill-badge">PrimeNG</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        Worked on many more projects including
                        <strong>Jira-related drag and drop boards</strong>,
                        <strong>Hospital Management Systems</strong>,
                        and several enterprise tools that are not publicly shared due to company policy.
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-pagination">
            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Key Skills">
                                            <ng-template ngbTabContent>
                                                <div class="skill-line p-stlye">
                                                    ⚙️ <strong>Frontend:</strong> React.js, Angular, TypeScript, Redux,
                                                    Bootstrap, Material-UI, PrimeNG
                                                </div>

                                                <div class="skill-line p-stlye">
                                                    💻 <strong>Backend:</strong> REST APIs, Firebase
                                                </div>

                                                <div class="skill-line p-stlye">
                                                    🧠 <strong>Dev Tools:</strong> Webpack, Git, Bitbucket, JIRA,
                                                    Postman, Docker
                                                </div>

                                                <div class="skill-line p-stlye">
                                                    🎨 <strong>Design & UI:</strong> Pixel-Perfect UI, Figma, Responsive
                                                    Design, CSS3, TailwindCSS
                                                </div>

                                                <div class="skill-line p-stlye">
                                                    🗣️ <strong>Soft Skills:</strong> Leadership, Communication, Team
                                                    Management, Presentation
                                                </div>

                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="section section-tabs">
            <h3 class="tech-title">Work Experience</h3>
            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Frontend Developer">
                                            <ng-template ngbTabContent>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <h3>Frontend Developer</h3>
                                                            <p>HawkLogix Pakistan · Full-time</p>
                                                            <p>May 2022 - Present · 2 year 11 months</p>
                                                            <p>
                                                                Lahore, Punjab, Pakistan · On-site
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        Building scalable and modern frontend applications using
                                                        Angular,
                                                        TypeScript, and modern UI frameworks. Leading frontend
                                                        architecture and collaborating with backend teams.
                                                    </p>
                                                </div>
                                                <div style="margin-bottom: 10px; margin-top: 20px;">
                                                    <span class="skill-badge">Internet
                                                        Design</span>
                                                    <span class="skill-badge">Front-End
                                                        Development</span>
                                                    <span class="skill-badge">Redux.js</span>
                                                    <span class="skill-badge">Software
                                                        Design</span>
                                                    <span class="skill-badge">E-Commerce</span>
                                                </div>
                                            </ng-template>
                                        </ngb-tab>

                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-pagination" id="contact">
            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="nav-tabs-navigation" data-tabs-color="orange">
                                <div class="nav-tabs-wrapper">
                                    <ngb-tabset [justify]="'center'" class="text-center">
                                        <ngb-tab title="Contact Me">
                                            <ng-template ngbTabContent>
                                                <div class="profile-header">
                                                    <h2 class="profile-name">Faisal Yaqoob</h2>
                                                    <p class="profile-title">Frontend Developer @ HawkLogix</p>
                                                </div>

                                                <div class="profile-info">
                                                    <p>
                                                        <i class="fas fa-envelope email-icon"></i>
                                                        faisalyaqoob8787@gmail.com
                                                        <a href="mailto:faisalyaqoob8787@gmail.com"></a>
                                                    </p>

                                                    <p>
                                                        📞
                                                        <a href="tel:03046828583" class="phone-link">03046828583</a>
                                                    </p>

                                                    <p class="location">📍 Lahore, Pakistan</p>
                                                </div>

                                                <div class="social-links">
                                                    <a href="https://www.linkedin.com/in/faisal-yaqoob-6201a2398/"
                                                        target="_blank" class="social-btn linkedin">
                                                        <i class="fab fa-linkedin"></i> LinkedIn
                                                    </a>

                                                    <a href="https://github.com/Faisalyaqoob87" target="_blank"
                                                        class="social-btn github">
                                                        <i class="fab fa-github"></i> GitHub
                                                    </a>
                                                </div>


                                            </ng-template>

                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container footer-nav">
            <ul class="footer-nav-list">
                <li><button class="footer-btn" (click)="scrollTo('home')">Home</button></li>
                <li><button class="footer-btn" (click)="scrollTo('about')">About</button></li>
                <li><button class="footer-btn" (click)="scrollTo('tech-stacks')">Stack</button></li>
                <li><button class="footer-btn" (click)="scrollTo('projects')">Projects</button></li>
                <li><button class="footer-btn" (click)="scrollTo('contact')">Contact</button></li>
            </ul>
        </div>
        <div style="display: contents;">
            &copy; {{data | date:'yyyy'}}, All rights reserved by Faisal Yaqoob.
        </div>
    </footer>
    <!-- Scroll to Top Button -->
    <button *ngIf="showScrollTop" class="scroll-btn scroll-top" (click)="scrollToTop()">↑</button>
    <!-- Scroll to Bottom Button -->
    <button *ngIf="showScrollBottom" class="scroll-btn scroll-bottom" (click)="scrollToBottom()">↓</button>

</div>